html
  head
    title= title
    script(src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js")
  body
    div(style = "width:95%;")
      canvas(id = "myChart")
      script(type = 'text/javascript').                                               
        var place = !{JSON.stringify(place)};
        var dataset = !{JSON.stringify(dataset)};
      script(src = "/static/app.js")
